<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="obtenerAlumnos" value="api/Alumnoes" />
      <add key="añadirAlumnos" value="api/Alumnoes" />
      <add key="deleteAlumnos" value="api/Alumnoes/" />
      <add key="editAlumnos" value="api/Alumnoes/" />
      <add key="path" value="http://localhost:53007/" />
    </appSettings>
</configuration>